<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Qunatity</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of prodList" >
    <tr>
      <td scope="row">{{item.ID}}</td>
      <td>{{item.Name}}</td>
      <td>{{item.Price}}</td>
      <td>{{item.Quantity}}</td>
      <td scope="col"><button type="button" class="btn btn-primary"(click)="Edit(item.ID)">Edit</button></td>
      <td scope="col"><button type="button" class="btn btn-primary" (click)="Delete(item.ID)">Delete</button></td>
    </tr>
  </tbody>
  </table>
  <ul class="pagination">
    <li class="waves-effect"><a (click)="showprod('pageNumber=1&pageSize=10')">1</a>
    </li>
    <li class="waves-effect"><a (click)="showprod('pageNumber=2&pageSize=10')">2</a>
    </li>
    <li class="waves-effect"><a (click)="showprod('pageNumber=3&pageSize=10')">3</a>
    </li>
    <li class="waves-effect"><a (click)="showprod('pageNumber=4&pageSize=10')">4</a>
    </li>
    <li class="waves-effect"><a (click)="showprod('pageNumber=5&pageSize=10')">5</a>
    </li>
  </ul>
