<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of catList" >
    <tr>
      <td scope="row">{{item.ID}}</td>
      <td>{{item.Name}}</td>
      <td scope="col"><button type="button" class="btn btn-primary"(click)="Edit(item.ID,item.Name)">Edit</button></td>
      <td scope="col"><button type="button" class="btn btn-primary" (click)="Delete(item.ID)">Delete</button></td>
    </tr>
  </tbody>
  </table>
